<p id="notice"><%= notice %></p>

<h1>Users</h1>
<br>
<hr>
<br>
<table>
  <thead>
    <tr>
      <th>Lastname</th>
      <th>Firstname</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.lastname %></td>
        <td><%= user.firstname %></td>
        <td><%= user.email %></td>
        <td><%= link_to("Show", user_path(user, page: @users.current_page)) %></td>
        <td><%= link_to("Edit", edit_user_path(user, page: @users.current_page)) %></td>
        <td><%= link_to("Destroy", user_path(user, page: @users.current_page), data: {confirm: 'Are you sure?'}, method: :delete) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<hr>
<br>
<div class="digg_pagination">
  <div>
    <%= page_entries_info @users %>
  </div>
  <%= will_paginate @users, container: false %>
</div>
<br>

<%= link_to 'New User', new_user_path %>
